* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.s-title {
  margin: 2rem;
}

.title {
  font-size: xx-large;
  margin-bottom: 1rem;
}

.img {
  width: 7rem;
}

.s-values {
  margin: 2rem;
}

.d-value {
  display: inline-block;
  margin: 1rem;
}

.s-values label {
  display: block;
  text-align: left;
  margin-right: 3rem;
  margin-bottom: 0.5rem;
  font-size: larger;
}

#value1,
#value2 {
  margin-right: 2rem;
  width: 15rem;
  height: 3rem;
  font-size: x-large;
  border-radius: 10rem;
}

.s-btn {
  margin-right: 3rem;
  margin-bottom: 2rem;
}

.s-btn label {
  display: block;
  text-align: center;
  margin-bottom: 1rem;
  font-size: larger;
}

.btn {
  text-align: center;
  height: 3rem;
  width: 9rem;
  font-size: large;
  margin: 0 1rem 1rem 1rem;
  border-radius: 5rem;
  cursor: pointer;
  background-color: black;
  color: white;
}

.btn:hover {
  transition: 0.3s;
  opacity: 0.8;
}

.btn:active {
  transition: 0.3s;
  opacity: 0.3;
}

.s-result {
  font-size: x-large;
}

.s-result p {
  display: inline-block;
  margin: 1rem 4rem;
}

.result b {
  color: blue;
}

.sinal b {
  color: red;
}
